type: custom:calendar-week-grid-card
primary_date_format:
  weekday: 'short'
secondary_date_format:
  day: 'numeric'
  month: 'short'
time_format:
  hour: '2-digit'
  hour12: false
time_range: true
icons_container: event
icons_mode: all
all_day: row
theme_variables:
  color:
    name: Event Color
    description: The color of the event icon.
  background:
    name: Background
    description: The background color of the event.
  opacity:
    name: Opacity
    description: The opacity of the event icon (0.0 to 1.0).
theme_values_examples:
  - color: var(--color-highlight-icon)
    background: var(--color-highlight)
  - color: var(--color-highlight-light-icon)
event:
blank_event:
  icon:
  theme_values:
    opacity: 0.3
blank_all_day_event:
  icon:
entities:
  - name: planned_outages
    entity: calendar.planned_outages
    filter: Outage
    type: highlight
    icon: mdi:flash-off
    theme_values:
      color: var(--color-highlight-icon)
      background: var(--color-highlight)
  - name: probable_outages
    entity: calendar.probable_outages
    icon: mdi:flash-off
    theme_values:
      color: var(--color-highlight-light-icon)
  - name: emergency_shutdowns
    entity: calendar.planned_outages
    filter: Emergency Shutdowns
    icon: mdi:transmission-tower-off
  - name: waiting_for_schedule
    entity: calendar.planned_outages
    filter: Waiting for Schedule
    icon: mdi:timer-sand
    theme_values:
      color: var(--color-highlight-light-icon)
      opacity: 0.5
    hide:
      - planned_outages
css: |
  ha-card {
    --color-highlight: #FDD631;
    --color-highlight-icon: #1e1e2e;
    --color-highlight-light: #FDD631;
    --color-highlight-light-icon: var(--primary-text-color);
    padding: 0;
  }

  ha-card.theme-dark {
    --color-highlight-light-icon: #FDD631;
  }

  .grid-container {
    gap: 0px;
  }

  .event-icon {
    --icon-size: 16px;
  }

  .event-block, .time-label {
    background-color: var(--card-background-color);
  }

  .time-label {
    padding: 0 18px;
  }

  .time-label.now {
    color: var(--primary-text-color);
  }

  .today, .now {
    &.day-header, &.time-label, .event-sub-block {
      background-color: rgb(from var(--color-highlight-light) r g b / 0.4);
    }
  }

  .event-block, .day-header {
    border-radius: 0px;
  }

  .event-icon {
    color: var(--color, var(--primary-text-color));
    opacity: var(--opacity, 1.0);
  }

  .event-block {
    background-color: var(--background, var(--card-background-color));
  }

  .grid-container > .row-odd {
    .event-wrapper:not([data-type="highlight"]) .event-block, .time-label {
      filter: contrast(1.05) brightness(0.95); 
    }
  }
