.event-block {
  border-radius: 4px;
}

[data-type='blank'] {
  &.event-icon {
    opacity: 0.3;
  }
}

.event-icon {
  color: var(--event-color, var(--primary-text-color));
}

.event-sub-block {
  background-color: rgb(
    from var(--event-color, var(--primary-text-color)) r g b / 0.2
  );
}

[data-type='blank'] .event-sub-block {
  background-color: transparent;
}
